<html>
  <head>
    <script src="{{ asset('/node_modules/moment/moment.js') }}"></script>
    <style>
      #time > p {
      }
    </style>
  </head>
  <body>
    <h4>Il reste avant Noël:</h4>
    <div id="time">
      <span time="FullYear"></span> Année(s)
      <span time="Month"></span> Mois
      <span time="Date"></span> Jour(s)
      <span time="Hours"></span> Heure(s)
      <span time="Minutes"></span> Minute(s)
      <span time="Seconds"></span> Seconde(s)
    </div>
    <a href="{{ path('index')}}">Retourner au début</a>
    <script>

      /** Select All Time Span **/
      var elements = document.querySelectorAll('#time > *');

      /** Get Christmas date from Param Request **/
      var christmas = moment({{ christmas }} * 1000);

      function time() {
        var diff = moment.duration(christmas.diff(moment()));

        /** Set Date from attribute and diff **/
        for (var i = 0; i < elements.length; i++) {
          var format = elements[i].getAttribute('time');
          switch (format) {
            case 'FullYear':
              $output = diff.years();
              break;
            case 'Month':
              $output = diff.months();
              break;
            case 'Date':
              $output = diff.days();
              break;
            case 'Hours':
              $output = diff.hours();
              break;
            case 'Minutes':
              $output = diff.minutes();
              break;
            case 'Seconds':
              $output = diff.seconds();
              break;
            default:
              $output = "0";
          }
          elements[i].innerHTML = $output;
        }
      }
      /** Update Time every second and run in first **/
      setInterval(time, 1000);
      time();
    </script>
  </body>
</html>
